In [1]:
#File path

# C:\Users\Senthil\IIT-M Internship files\data

In [2]:
#importing packages

In [3]:
import pandas as pd
import numpy as np
import glob
from pandas import DataFrame

# Converting CGC fasta file into dataframe

In [4]:
from Bio import SeqIO
with open(r"data\feature_files\fasta_cgc (4).fasta") as fasta_file:
    identifiers = []
    accession =[]
    for seq_record in SeqIO.parse(fasta_file,'fasta'):
        identifiers.append(str(seq_record.seq))
        accession.append(str(seq_record.id))

In [5]:
d={'Entry':accession,'Sequence': identifiers}
data1=pd.DataFrame(d)
data1['Class']='CGC'
data1

,Entry,Sequence,Class
0,A1CF_Q9NQ94,MESNHKSGDGLSGTQKEAALRALVQRTGYSLVQENGQRKYGGPPPG...,CGC
1,ABL1_P00519,MLEICLKLVGCKSKKGLSSSSSCYLEEALQRPVASDFEPQGLSEAA...,CGC
2,ABL2_P42684,MGQQVGRVGEAPGLQQPQPRGIRGSSAARPSGRRRDPAGRTTETGF...,CGC
3,ACKR3_P25106,MDLHLFDYSEPGNFSDISWPCNSSDCIVVDTVMCPNMPNKSVLLYT...,CGC
4,ACSL3_O95573,MNNHVSSKPSTMKLKHTINPILLYFIHFLISLYTILTYIPFYFFSE...,CGC
...,...,...,...
713,ZNF479_Q96JC4,MAKRPGPPGSREMGLLTFRDIAIEFSLEEWQCLDCAQRNLYRDVML...,CGC
714,ZNF521_Q96K83,MSRRKQAKPRSLKDPNCKLEDKTEDGEALDCKKRPEDGEELEDEAV...,CGC
715,ZNRF3_Q9ULT6,MRPRSGGRPGATGRRRRRLRRRPRGLRCSRLPPPPPLPLLLGLLLA...,CGC
716,ZRSR2_Q15696,MAAPEKMTFPEKPSHKKYRAALKKEKRKKRRQELARLRDSGLSQKE...,CGC
717,A0A0A0MTJ0_A0A0A0MTJ0,MRPADLLQLVLLLDLPRDLGGMGCSSPPCECHQEEDFRVTCKDIQR...,CGC

In [6]:
#Splitting the Entry column to get suffix of the identifiers
data1[['First','Entry']] = data1['Entry'].str.split('_', expand=True)
data1

,Entry,Sequence,Class,First
0,Q9NQ94,MESNHKSGDGLSGTQKEAALRALVQRTGYSLVQENGQRKYGGPPPG...,CGC,A1CF
1,P00519,MLEICLKLVGCKSKKGLSSSSSCYLEEALQRPVASDFEPQGLSEAA...,CGC,ABL1
2,P42684,MGQQVGRVGEAPGLQQPQPRGIRGSSAARPSGRRRDPAGRTTETGF...,CGC,ABL2
3,P25106,MDLHLFDYSEPGNFSDISWPCNSSDCIVVDTVMCPNMPNKSVLLYT...,CGC,ACKR3
4,O95573,MNNHVSSKPSTMKLKHTINPILLYFIHFLISLYTILTYIPFYFFSE...,CGC,ACSL3
...,...,...,...,...
713,Q96JC4,MAKRPGPPGSREMGLLTFRDIAIEFSLEEWQCLDCAQRNLYRDVML...,CGC,ZNF479
714,Q96K83,MSRRKQAKPRSLKDPNCKLEDKTEDGEALDCKKRPEDGEELEDEAV...,CGC,ZNF521
715,Q9ULT6,MRPRSGGRPGATGRRRRRLRRRPRGLRCSRLPPPPPLPLLLGLLLA...,CGC,ZNRF3
716,Q15696,MAAPEKMTFPEKPSHKKYRAALKKEKRKKRRQELARLRDSGLSQKE...,CGC,ZRSR2
717,A0A0A0MTJ0,MRPADLLQLVLLLDLPRDLGGMGCSSPPCECHQEEDFRVTCKDIQR...,CGC,A0A0A0MTJ0

In [7]:
#Dropping prefix from the identifiers
data1.drop('First',axis=1,inplace=True)

In [8]:
data1

          Entry                                           Sequence Class
0        Q9NQ94  MESNHKSGDGLSGTQKEAALRALVQRTGYSLVQENGQRKYGGPPPG...   CGC
1        P00519  MLEICLKLVGCKSKKGLSSSSSCYLEEALQRPVASDFEPQGLSEAA...   CGC
2        P42684  MGQQVGRVGEAPGLQQPQPRGIRGSSAARPSGRRRDPAGRTTETGF...   CGC
3        P25106  MDLHLFDYSEPGNFSDISWPCNSSDCIVVDTVMCPNMPNKSVLLYT...   CGC
4        O95573  MNNHVSSKPSTMKLKHTINPILLYFIHFLISLYTILTYIPFYFFSE...   CGC
..          ...                                                ...   ...
713      Q96JC4  MAKRPGPPGSREMGLLTFRDIAIEFSLEEWQCLDCAQRNLYRDVML...   CGC
714      Q96K83  MSRRKQAKPRSLKDPNCKLEDKTEDGEALDCKKRPEDGEELEDEAV...   CGC
715      Q9ULT6  MRPRSGGRPGATGRRRRRLRRRPRGLRCSRLPPPPPLPLLLGLLLA...   CGC
716      Q15696  MAAPEKMTFPEKPSHKKYRAALKKEKRKKRRQELARLRDSGLSQKE...   CGC
717  A0A0A0MTJ0  MRPADLLQLVLLLDLPRDLGGMGCSSPPCECHQEEDFRVTCKDIQR...   CGC

[718 rows x 3 columns]

In [9]:
#Exporting the dataframe to a csv file
data1.to_csv('data/feature_files/cgc_foranalysis.csv', index=False)

In [10]:
#importing the csv file back into the working page
cgc=pd.read_csv('data/feature_files/cgc_foranalysis.csv')
cgc.head()

    Entry                                           Sequence Class
0  Q9NQ94  MESNHKSGDGLSGTQKEAALRALVQRTGYSLVQENGQRKYGGPPPG...   CGC
1  P00519  MLEICLKLVGCKSKKGLSSSSSCYLEEALQRPVASDFEPQGLSEAA...   CGC
2  P42684  MGQQVGRVGEAPGLQQPQPRGIRGSSAARPSGRRRDPAGRTTETGF...   CGC
3  P25106  MDLHLFDYSEPGNFSDISWPCNSSDCIVVDTVMCPNMPNKSVLLYT...   CGC
4  O95573  MNNHVSSKPSTMKLKHTINPILLYFIHFLISLYTILTYIPFYFFSE...   CGC

# Concatenate all the csv files

In [11]:
path=r"data/feature_files"
filenames=glob.glob(path + '/*.csv')

In [12]:
dfs=[]
for filename in filenames:
    dfs.append(pd.read_csv(filename))

In [13]:
big_frame=pd.concat(dfs,ignore_index=True)

In [14]:
big_frame.shape

(3252, 3)

In [15]:
big_frame.head()

    Entry                                           Sequence Class
0  Q59288  MKKLFVTCIVFFSILSPALLIAQQTGTAELIMKRVMLDLKKPLRNM...  Carb
1  Q9I6P8  MSHPSHVRALCASLCLGAGLPVHAGHVHAGQGFLEDAKASLTARNF...  Carb
2  Q0ED31  MRVKETQMNWPNLWKWGTLILGLVIICSASDNLWVTVYYGVPVWKD...  Carb
3  Q9IH62  MPAENKKVRFENTTSDKGKIPSKVIKSYYGTMDIKKINEGLLDSKI...  Carb
4  P52799  MAVRRDSVWKYCWGVLMVLCRTAISKSIVLEPIYWNSSNSKFLPGQ...  Carb

In [16]:
big_frame.Class.value_counts()

Carb      1269
CGC        718
Hetero     647
DNA        442
RNA        176
Name: Class, dtype: int64

# Import DNA Sequence Data

In [17]:
#data = pd.read_csv('data/feature_files/DNA_mapped_uniprot.csv')
#data.head()

## Create Length Feature

In [18]:
# data['sequence_length'] = data['Sequence'].str.len()
# data.head()

In [19]:
big_frame['sequence_length'] = big_frame['Sequence'].str.len()
big_frame.head()

,Entry,Sequence,Class,sequence_length
0,Q59288,MKKLFVTCIVFFSILSPALLIAQQTGTAELIMKRVMLDLKKPLRNM...,Carb,700
1,Q9I6P8,MSHPSHVRALCASLCLGAGLPVHAGHVHAGQGFLEDAKASLTARNF...,Carb,421
2,Q0ED31,MRVKETQMNWPNLWKWGTLILGLVIICSASDNLWVTVYYGVPVWKD...,Carb,857
3,Q9IH62,MPAENKKVRFENTTSDKGKIPSKVIKSYYGTMDIKKINEGLLDSKI...,Carb,602
4,P52799,MAVRRDSVWKYCWGVLMVLCRTAISKSIVLEPIYWNSSNSKFLPGQ...,Carb,333

# Import Properties

In [20]:
prop=pd.read_csv('data/feature_files/new/49_properties_normalizedValues.csv', index_col=0)
prop.head()

,A,D,C,E,F,G,H,I,K,L,M,N,P,Q,R,S,T,V,W,Y
index,,,,,,,,,,,,,,,,,,,,
K0,0.83,0.24,0.26,0.00,0.13,0.71,0.34,0.34,0.29,0.34,0.39,0.41,1.00,0.28,0.74,0.49,0.38,0.43,0.46,0.09
Ht,0.23,0.18,0.40,0.18,0.76,0.03,0.23,0.84,0.44,0.58,0.44,0.02,0.73,0.00,0.23,0.02,0.02,0.50,1.00,0.71
Hp,0.47,0.02,0.76,0.09,0.67,0.27,0.33,1.00,0.00,0.73,0.60,0.16,0.01,0.18,0.32,0.15,0.26,0.86,0.68,0.59
P,0.00,0.96,0.03,0.96,0.01,0.00,0.99,0.00,0.95,0.00,0.03,0.07,0.03,0.07,1.00,0.03,0.03,0.00,0.04,0.03
pHi,0.40,0.00,0.29,0.31,0.34,0.40,0.60,0.41,0.87,0.40,0.37,0.33,0.44,0.36,1.00,0.36,0.36,0.40,0.39,0.36

In [21]:
prop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 130 entries, K0 to BIGC670101
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       130 non-null    float64
 1   D       130 non-null    float64
 2   C       130 non-null    float64
 3   E       130 non-null    float64
 4   F       130 non-null    float64
 5   G       130 non-null    float64
 6   H       130 non-null    float64
 7   I       130 non-null    float64
 8   K       130 non-null    float64
 9   L       130 non-null    float64
 10  M       130 non-null    float64
 11  N       130 non-null    float64
 12  P       130 non-null    float64
 13  Q       130 non-null    float64
 14  R       130 non-null    float64
 15  S       130 non-null    float64
 16  T       130 non-null    float64
 17  V       130 non-null    float64
 18  W       130 non-null    float64
 19  Y       130 non-null    float64
dtypes: float64(20)
memory usage: 21.3+ KB

In [22]:
prop.index = 'I' + prop.index

In [23]:
prop.head()

,A,D,C,E,F,G,H,I,K,L,M,N,P,Q,R,S,T,V,W,Y
index,,,,,,,,,,,,,,,,,,,,
IK0,0.83,0.24,0.26,0.00,0.13,0.71,0.34,0.34,0.29,0.34,0.39,0.41,1.00,0.28,0.74,0.49,0.38,0.43,0.46,0.09
IHt,0.23,0.18,0.40,0.18,0.76,0.03,0.23,0.84,0.44,0.58,0.44,0.02,0.73,0.00,0.23,0.02,0.02,0.50,1.00,0.71
IHp,0.47,0.02,0.76,0.09,0.67,0.27,0.33,1.00,0.00,0.73,0.60,0.16,0.01,0.18,0.32,0.15,0.26,0.86,0.68,0.59
IP,0.00,0.96,0.03,0.96,0.01,0.00,0.99,0.00,0.95,0.00,0.03,0.07,0.03,0.07,1.00,0.03,0.03,0.00,0.04,0.03
IpHi,0.40,0.00,0.29,0.31,0.34,0.40,0.60,0.41,0.87,0.40,0.37,0.33,0.44,0.36,1.00,0.36,0.36,0.40,0.39,0.36

## Get amino acid Column Names from property file

In [24]:
unique_amino_acid = prop.columns.tolist()

# Get each amino acid Count from Sequence column in big_Frame file

In [25]:
#data['A'] = list(map(lambda x: x.count("A"), data['Sequence']))

In [26]:
for amino_acid in unique_amino_acid:
    big_frame[amino_acid] = list(map(lambda x: x.count(amino_acid), big_frame['Sequence']))

## Check Data

In [27]:
big_frame.head()

,Entry,Sequence,Class,sequence_length,A,D,C,E,F,G,...,M,N,P,Q,R,S,T,V,W,Y
0,Q59288,MKKLFVTCIVFFSILSPALLIAQQTGTAELIMKRVMLDLKKPLRNM...,Carb,700,56,41,3,37,26,46,...,13,36,29,32,27,39,38,37,16,39
1,Q9I6P8,MSHPSHVRALCASLCLGAGLPVHAGHVHAGQGFLEDAKASLTARNF...,Carb,421,33,30,2,14,20,56,...,6,18,13,18,35,36,17,17,9,13
2,Q0ED31,MRVKETQMNWPNLWKWGTLILGLVIICSASDNLWVTVYYGVPVWKD...,Carb,857,42,30,24,48,25,59,...,16,64,30,41,46,46,64,52,28,20
3,Q9IH62,MPAENKKVRFENTTSDKGKIPSKVIKSYYGTMDIKKINEGLLDSKI...,Carb,602,23,27,17,26,21,40,...,11,45,36,25,22,51,37,41,7,25
4,P52799,MAVRRDSVWKYCWGVLMVLCRTAISKSIVLEPIYWNSSNSKFLPGQ...,Carb,333,15,17,8,13,9,25,...,6,18,21,13,15,32,20,22,4,15

# Get Properties Feature

## Get Unique Propery Names

In [28]:
unique_property_names = prop.index.tolist()
unique_property_names

['IK0',
 'IHt',
 'IHp',
 'IP',
 'IpHi',
 "IpK'",
 'IMw',
 'IBl',
 'IRf',
 'IMu',
 'IHnc',
 'IEsm',
 'IEl',
 'IEt',
 'IPa',
 'IPb',
 'IPt',
 'IPc',
 'ICa',
 'IF',
 'IBr',
 'IRa',
 'INs',
 'IaN',
 'IaC',
 'IaM',
 'IV0',
 'INm',
 'INl',
 'IHgm',
 'IASAD',
 'IASAN',
 'IdASA',
 'IdGh',
 'IGhD',
 'IGhN',
 'IdHh',
 'I-TdSh',
 'IdCph',
 'IdGc',
 'IdHc',
 'I-TdSc',
 'IdG',
 'IdH',
 'I-TdS',
 'Iv',
 'Is',
 'If',
 'IPf-s',
 'IGEIM800105',
 'IGEIM800108',
 'IBIOV880102',
 'IGRAR740102',
 'IGRAR740103',
 'IHOPA770101',
 'IISOY800102',
 'IISOY800103',
 'IISOY800104',
 'IJOND750101',
 'IJUKT750101',
 'IKANM800102',
 'IKANM800103',
 'IKARP850101',
 'IKRIW710101',
 'IKRIW790101',
 'ILAWE840101',
 'ILEVM760101',
 'ILIFS790101',
 'ILIFS790103',
 'IMANP780101',
 'IMAXF760102',
 'IMAXF760106',
 'IMIYS850101',
 'INAGK730102',
 'INAGK730103',
 'IBURA740102',
 'IARGP820101',
 'INISK860101',
 'IOOBM770103',
 'IOOBM850103',
 'ICHAM820101',
 'IOOBM850105',
 'IPONP800102',
 'IPONP800103',
 'IPONP800107',
 'IPRAM900104',
 'IRACS770101',
 'IRACS770102',
 'IRACS820113',
 'ICHOC760101',
 'IROBB760105',
 'IROSM880102',
 'ISIMZ760101',
 'IWOEC730101',
 'ICHOP780202',
 'IYUTK870102',
 'IZIMJ680101',
 'IZIMJ680102',
 'IZIMJ680105',
 'ICHOP780204',
 'IONEK900102',
 'IVINM940101',
 'INADH010101',
 'INADH010102',
 'INADH010104',
 'INADH010105',
 'IFUKS010102',
 'IFUKS010103',
 'IKUHL950101',
 'IZHOH040101',
 'IZHOH040102',
 'IZHOH040103',
 'IPONJ960101',
 'IWOLR790101',
 'IOLSK800101',
 'IKIDA850101',
 'ICORJ870102',
 'ICORJ870104',
 'ICORJ870106',
 'ICORJ870108',
 'IMIYS990101',
 'IFASG890101',
 'IDAYM780201',
 'IEISD860101',
 'IFASG760101',
 'IFASG760102',
 'IFAUJ830101',
 'IFAUJ880101',
 'IFAUJ880106',
 'IBIGC670101']

In [29]:
# Array 1
prop.loc['IK0']

A    0.83
D    0.24
C    0.26
E    0.00
F    0.13
G    0.71
H    0.34
I    0.34
K    0.29
L    0.34
M    0.39
N    0.41
P    1.00
Q    0.28
R    0.74
S    0.49
T    0.38
V    0.43
W    0.46
Y    0.09
Name: IK0, dtype: float64

In [30]:
big_frame.head()

,Entry,Sequence,Class,sequence_length,A,D,C,E,F,G,...,M,N,P,Q,R,S,T,V,W,Y
0,Q59288,MKKLFVTCIVFFSILSPALLIAQQTGTAELIMKRVMLDLKKPLRNM...,Carb,700,56,41,3,37,26,46,...,13,36,29,32,27,39,38,37,16,39
1,Q9I6P8,MSHPSHVRALCASLCLGAGLPVHAGHVHAGQGFLEDAKASLTARNF...,Carb,421,33,30,2,14,20,56,...,6,18,13,18,35,36,17,17,9,13
2,Q0ED31,MRVKETQMNWPNLWKWGTLILGLVIICSASDNLWVTVYYGVPVWKD...,Carb,857,42,30,24,48,25,59,...,16,64,30,41,46,46,64,52,28,20
3,Q9IH62,MPAENKKVRFENTTSDKGKIPSKVIKSYYGTMDIKKINEGLLDSKI...,Carb,602,23,27,17,26,21,40,...,11,45,36,25,22,51,37,41,7,25
4,P52799,MAVRRDSVWKYCWGVLMVLCRTAISKSIVLEPIYWNSSNSKFLPGQ...,Carb,333,15,17,8,13,9,25,...,6,18,21,13,15,32,20,22,4,15

In [31]:
# Array 2
big_frame[unique_amino_acid].iloc[0]

A    56
D    41
C     3
E    37
F    26
G    46
H    17
I    42
K    60
L    66
M    13
N    36
P    29
Q    32
R    27
S    39
T    38
V    37
W    16
Y    39
Name: 0, dtype: int64

In [32]:
# sum(Array 1 * 2)
sum(prop.loc['IK0'] * big_frame[unique_amino_acid].iloc[1])

195.91

In [33]:
# Denominator - lenght
big_frame.loc[1,'sequence_length']

421

## Create one Column

In [34]:
big_frame['sum_K0'] = sum(big_frame[unique_amino_acid].iloc[0] * prop.loc['IK0'])

In [35]:
big_frame['IK0'] = sum(big_frame[unique_amino_acid].iloc[0] * prop.loc['IK0']) / big_frame['sequence_length']

In [36]:
big_frame.head()

,Entry,Sequence,Class,sequence_length,A,D,C,E,F,G,...,P,Q,R,S,T,V,W,Y,sum_K0,IK0
0,Q59288,MKKLFVTCIVFFSILSPALLIAQQTGTAELIMKRVMLDLKKPLRNM...,Carb,700,56,41,3,37,26,46,...,29,32,27,39,38,37,16,39,291.14,0.415914
1,Q9I6P8,MSHPSHVRALCASLCLGAGLPVHAGHVHAGQGFLEDAKASLTARNF...,Carb,421,33,30,2,14,20,56,...,13,18,35,36,17,17,9,13,291.14,0.691544
2,Q0ED31,MRVKETQMNWPNLWKWGTLILGLVIICSASDNLWVTVYYGVPVWKD...,Carb,857,42,30,24,48,25,59,...,30,41,46,46,64,52,28,20,291.14,0.339720
3,Q9IH62,MPAENKKVRFENTTSDKGKIPSKVIKSYYGTMDIKKINEGLLDSKI...,Carb,602,23,27,17,26,21,40,...,36,25,22,51,37,41,7,25,291.14,0.483621
4,P52799,MAVRRDSVWKYCWGVLMVLCRTAISKSIVLEPIYWNSSNSKFLPGQ...,Carb,333,15,17,8,13,9,25,...,21,13,15,32,20,22,4,15,291.14,0.874294

In [37]:
big_frame.shape

(3252, 26)

In [38]:
big_frame.drop(['sum_K0','IK0'], axis = 1, inplace=True)

## For All Features

In [39]:
for property_name in unique_property_names:
    big_frame[property_name] = sum(big_frame[unique_amino_acid].iloc[0] * prop.loc[property_name]) / big_frame['sequence_length']

In [40]:
big_frame[unique_amino_acid].shape[0]

3252

In [41]:
for property_name in unique_property_names:
    for row in range(big_frame[unique_amino_acid].shape[0]):
        big_frame[property_name] = sum(big_frame[unique_amino_acid].iloc[row] * prop.loc[property_name]) / big_frame['sequence_length']

In [42]:
dna_only = big_frame[big_frame.Class == 'DNA'].head()

In [43]:
dna_only[['Entry','Sequence','IK0','Class']]

,Entry,Sequence,IK0,Class
1987,P08046,MAAAKAEMQLMSPLQISDPFGSFPHSPTMDNYPKLEEMMLLSNGAP...,1.051989,DNA
1988,P61999,MNKQKVCPACESAELIYDPERGEIVCAKCGYVIEENIIDMGPEWRA...,1.869033,DNA
1989,P62001,MVDMSKVKLRIENIVASVDLFAQLDLEKVLDLCPNSKYNPEEFPGI...,2.935654,DNA
1990,P04390,MSLRSDLINALYDENQKYDVCGIISAEGKIYPLGSDTKVLSTIFEL...,2.288612,DNA
1991,P13123,MVKVKFKYKGEEKEVDTSKIKKVWRVGKMVSFTYDDNGKTGRGAVS...,8.495606,DNA

# Export

In [44]:
big_frame.to_csv('data/Compiled_with_Property.csv', index = False)

In [45]:
comp=(big_frame[unique_amino_acid]/big_frame['sequence_length'].iloc[0])

# For CD-Hit

In [46]:
cd_hit=big_frame[['Sequence']]

In [47]:
# making copy of team column
new = big_frame["Entry"].copy()
 
# concatenating team with name column
# overwriting name column
cd_hit["Class-Entry"]= big_frame["Class"].str.cat(new,sep="_")

C:\Users\Senthil\AppData\Local\Temp/ipykernel_6328/17904388.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cd_hit["Class-Entry"]= big_frame["Class"].str.cat(new,sep="_")

In [48]:
cd_hit

                                               Sequence  Class-Entry
0     MKKLFVTCIVFFSILSPALLIAQQTGTAELIMKRVMLDLKKPLRNM...  Carb_Q59288
1     MSHPSHVRALCASLCLGAGLPVHAGHVHAGQGFLEDAKASLTARNF...  Carb_Q9I6P8
2     MRVKETQMNWPNLWKWGTLILGLVIICSASDNLWVTVYYGVPVWKD...  Carb_Q0ED31
3     MPAENKKVRFENTTSDKGKIPSKVIKSYYGTMDIKKINEGLLDSKI...  Carb_Q9IH62
4     MAVRRDSVWKYCWGVLMVLCRTAISKSIVLEPIYWNSSNSKFLPGQ...  Carb_P52799
...                                                 ...          ...
3247  MEPVDPRLEPWKHPGSQPKTACTNCYCKKCCFHCQVCFITKALGIS...   RNA_P04608
3248  MEPVDPRLEPWKHPGSQPKTACTNCYCKKCCFHCQVCFITKALGIS...   RNA_P04608
3249  MLYVSNLPVGTSSSAIHALFSAYGNVKDIWMLSPDNSAIVSYESLS...   RNA_O60059
3250  MGKLRRRYNVKGRLQADPRPAKGPEAPPVRLELEGKDVLKGVDESN...   RNA_Q6NZL1
3251  MVLAVAMSQDADPSGPEQPDRDACVMPGVQGPSVPQGQQGMQPLPP...   RNA_Q3UQS8

[3252 rows x 2 columns]

In [53]:
cd_hit.to_csv('data/for_CD-Hit.csv', index = False)

In [50]:
#comp.dtypes

In [51]:
comp

,A,D,C,E,F,G,H,I,K,L,M,N,P,Q,R,S,T,V,W,Y
0,0.080000,0.058571,0.004286,0.052857,0.037143,0.065714,0.024286,0.060000,0.085714,0.094286,0.018571,0.051429,0.041429,0.045714,0.038571,0.055714,0.054286,0.052857,0.022857,0.055714
1,0.047143,0.042857,0.002857,0.020000,0.028571,0.080000,0.017143,0.010000,0.014286,0.078571,0.008571,0.025714,0.018571,0.025714,0.050000,0.051429,0.024286,0.024286,0.012857,0.018571
2,0.060000,0.042857,0.034286,0.068571,0.035714,0.084286,0.025714,0.108571,0.068571,0.114286,0.022857,0.091429,0.042857,0.058571,0.065714,0.065714,0.091429,0.074286,0.040000,0.028571
3,0.032857,0.038571,0.024286,0.037143,0.030000,0.057143,0.007143,0.078571,0.055714,0.070000,0.015714,0.064286,0.051429,0.035714,0.031429,0.072857,0.052857,0.058571,0.010000,0.035714
4,0.021429,0.024286,0.011429,0.018571,0.012857,0.035714,0.008571,0.035714,0.034286,0.035714,0.008571,0.025714,0.030000,0.018571,0.021429,0.045714,0.028571,0.031429,0.005714,0.021429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3247,0.005714,0.002857,0.010000,0.004286,0.002857,0.007143,0.005714,0.002857,0.012857,0.004286,0.001429,0.002857,0.012857,0.011429,0.011429,0.008571,0.008571,0.002857,0.001429,0.002857
3248,0.005714,0.002857,0.010000,0.004286,0.002857,0.007143,0.005714,0.002857,0.012857,0.004286,0.001429,0.002857,0.012857,0.011429,0.011429,0.008571,0.008571,0.002857,0.001429,0.002857
3249,0.080000,0.034286,0.012857,0.045714,0.037143,0.042857,0.024286,0.060000,0.040000,0.112857,0.020000,0.054286,0.052857,0.034286,0.047143,0.110000,0.045714,0.054286,0.004286,0.031429
3250,0.144286,0.065714,0.027143,0.135714,0.050000,0.085714,0.027143,0.054286,0.117143,0.167143,0.040000,0.025714,0.141429,0.077143,0.112857,0.111429,0.082857,0.118571,0.012857,0.045714
3251,0.141429,0.092857,0.027143,0.135714,0.041429,0.142857,0.038571,0.040000,0.095714,0.134286,0.030000,0.058571,0.161429,0.100000,0.091429,0.160000,0.087143,0.078571,0.011429,0.044286

In [52]:
comp.to_csv('data/composition.csv',index=False)